---
import { BaseLayout } from "../../layouts";
import {ProductCard} from "../../components/cards"
import { ImagesRoute } from "../../assets/images/ImagesRoute";
import { Concept } from "../../sections/index";

const productList = [
    {img:ImagesRoute.IMG_7112,title:"Sangria",concept:"空いたワインボトルを明りに",path:"/product/sangria"},
    {img:ImagesRoute.startrail_hero,title:"Startrail",concept:"星のような間接照明",path:"/product/startrail"},
    {img:ImagesRoute.IMG_7358,title:"Re:Flame Jar",concept:"使い終わったキャンドルの揺らぎを再び",path:"/product/reflamejar"},
    {img:ImagesRoute.IMG_7381,title:"Rumos:Desktop",concept:"デバイスを操るコントロールソフト"}
]
---

<BaseLayout>
    <img class="fixed-background" src ="" alt=""/>
    <section class="title-section">
        <p class="text-7xl">Product</p>
        <p class="text-md">作成したシステムとデバイス</p>
    </section>
    <section class="list-section">
        {
            productList.map((product)=>(
                <div class="hover-item" data-bg-image={product.img}>
                    <ProductCard {...product}/>
                </div>
            ))
        }
    </section>
</BaseLayout>

<script>
    import { initBackgroundHover } from "../../hooks";

    initBackgroundHover({
        targetSelector: '.hover-item',
        backgroundSelector: '.fixed-background',
        dataAttribute: 'data-bg-image',
        fadeDuration: 500,
    })
</script>

<style lang="scss">
    .fixed-background{
        position:fixed;
        height:100dvh;
        width:100vw;
        top:0;
        left:0;
    }
    .title-section{
        width:100%;
        height:20rem;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 3;
        > * + *{
            margin-top:-1rem;
        }
    }
    .list-section{
        display: flex;
        flex-direction: column;
        width:100%;
        align-items: center;
        justify-content: start;
        gap:5rem;
        position: relative;
        z-index: 3;
    }

    @media (max-width: 1024px) {

    }

</style>