*.env
certs/*

#Node
tp-link-test/node_modules/
rumos_server/Node_gRPC_server/node_modules/

# ──────────────
# 🧱 ASP.NET (asp_test/) 側
# ──────────────
asp_test/bin/
asp_test/obj/
asp_test/.vs/
asp_test/*.user
asp_test/*.suo
asp_test/Generated\ Files/
asp_test/wwwroot/lib/
asp_test/wwwroot/dist/

# ⛔ ASP.NET Secrets (user secrets)
asp_test/secrets.json

# 🐢 NuGet
asp_test/packages/
asp_test/*.nupkg
asp_test/*.snupkg

# Win UI

# ビルド成果物
bin/
obj/
build/*

# ユーザー固有設定
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# VS キャッシュ・ログ
.vs/
*.pidb
*.svclog
*.pdb

# パッケージ
*.nupkg
*.snupkg
packages/

# 一時ファイル
*.tmp
*.temp


#sql
sql/init_sqlaccount.sql