rumos_server/rumos_server/appsettings.json
Rumos-App/Rumos-App/appsettings.json
*.env
certs/*




#Node
tp-link-test/node_modules/
rumos_server/Node_gRPC_server/node_modules/

# ──────────────
# 🧱 ASP.NET (asp_test/) 側
# ──────────────
asp_test/bin/
asp_test/obj/
asp_test/.vs/
asp_test/*.user
asp_test/*.suo
asp_test/Generated\ Files/
asp_test/wwwroot/lib/
asp_test/wwwroot/dist/

# ⛔ ASP.NET Secrets (user secrets)
asp_test/secrets.json

# 🐢 NuGet
asp_test/packages/
asp_test/*.nupkg
asp_test/*.snupkg

# Win UI

# ビルド成果物
bin/
obj/
build/

# ユーザー固有設定
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# VS キャッシュ・ログ
.vs/
*.pidb
*.svclog
*.pdb

# パッケージ
*.nupkg
*.snupkg
packages/

# 一時ファイル
*.tmp
*.temp


#sql
sql/init_sqlaccount.sql

# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/




Lumina/rumos_stick/src/config.h
Lumina/Dawn_Lumina_Sangria2/src/secrets.h
