/*
    app.css
    説明:特定のタグ要素すべてに統一のスタイルを付与したいときに使う。
        classとid指定が無く、タグそのものにスタイルを掛ける
*/

html, body {
    padding: 0;
    margin: 0;
    background-color: #000000 !important;
    color: white !important;
}
img{
    object-fit:cover;
}
::-webkit-scrollbar {
    display: none;
}

button {
    border: none;
    background:transparent;
    color:white;
}