@font-face {
    font-family: 'NotoSerifJP';
    src: url("../fonts/NotoSerifJp/NotoSerifJP-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cormorant';
    src: url("../fonts/Cormorant/Cormorant-Regular.ttf") format('truetype');
    font-weight:normal;
    font-style:normal;
}

*{
    font-family:'NotoSerifJP',sans-serif;
}