.page-container{
    display:flex;
    justify-content:center;
    align-items:center;
}

.control-mode {
    width: 460px;
    height: 50px;
    display: flex;
    border-radius: 10px;
    border: solid 1px white;
}

    .control-mode > button {
        width: 230px;
        height: 100%;
        text-align: center;
        border-radius: 10px;
    }

        .control-mode > button.selected {
            color: black;
            background: white;
        }

.device-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.device-list {
    width: 800px;
    height: 700px;
    border-radius: 10px;
    overflow-y: scroll;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    
}

    .device-list > .title-label {
        width: 100%;
        height: 50px;
        border-radius: 10px 10px 0 0;
    }

.device-control {
    width: 800px;
    height: 700px;
    border-radius: 10px;
    overflow-y: scroll;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: #00000044;
}

.list-container {
    display: flex;
    flex-wrap: wrap;
}

.series-label {
    padding-left: 10px;
}

.device-list-container {
    overflow-y: scroll;
}

.mode-select {
    width: 250px;
    height: 60px;
    color: white;
    background: black;
    text-align: start;
    padding-left: 10px;
}

.control-container {
    margin: 30px;
}

    .control-container > * + * {
        margin-top: 10px;
    }

.right-content {
    width: 150px;
    height: 50px;
    z-index: 1;
    border-radius: 10px;
}

.name-plate {
    z-index: 3;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.content-blur {
    background: #00000022;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.button-container {
    position: relative;
    width: 200px;
    height: 70px;
    margin: 20px;
    border-radius: 10px;
}


.option-button{
    width:150px;
    height:60px;
    border-radius:10px;
    border:1px solid white;
    display:flex;
    align-items:center;
    justify-content:space-around;

}


/*
    ダイアログのスタイル
*/
.function-dialog{
    z-index:10;
}
.dialog-container {
    width: 1300px;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:#888888;
}
.function-logo-container{

}
.function-form-container {
    display:flex;
    flex-direction:column;
}
    .function-form-container > input,select{
        width:500px;
        height:50px;
        border:#bbbbbb solid 1px;
        background:#444444;
        padding-left:10px;
        color:white;
    }
    .function-form-container > .submit {
        width: 500px;
        height: 50px;
        background: #4500BC;
        text-align:center;
        color: white;
    }
    .function-form-container > * + * {
        margin-top: 20px;
    }