/*
    app.css
    説明:特定のタグ要素すべてに統一のスタイルを付与したいときに使う。
        classとid指定が無く、タグそのものにスタイルを掛ける
*/

html, body {
    padding: 0;
    margin: 0;
    background-color: #000000 !important;
    color: white !important;
    width:100vw;
    height:100vh;
    overflow:hidden;
}
img{
    object-fit:cover;
}
::-webkit-scrollbar {
    display: none;
}

button {
    border: none;
    background:transparent;
    color:white;
}

p{
    padding:0;
    margin:0;
}

img{
    object-fit:cover;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

input {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    appearance: none;
}