@font-face {
    font-family: 'NotoSerifJP';
    src: url('/fonts/NotoSerifJp/NotoSerifJP-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url("../fonts/Cormorant/Cormorant-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansJP';
    src: url("../fonts/Noto_Sans_JP/NotoSansJP-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansJP';
    src: url("../fonts/Noto_Sans_JP/NotoSansJP-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* フォントファミリー */
html, body {
    font-family: 'NotoSerifJP', serif;
}

.font-montserrat {
    font-family: 'NotoSerifJP', sans-serif;
}

.font-noto-sans {
    font-family: 'NotoSerifJP', sans-serif;
}

.font-cormorant {
    font-family: 'NotoSerifJP', serif;
}

/* タイポグラフィ */
.text-mini {
    font-size: clamp(8px, 1vw, 10px);
}

.text-sss {
    font-size: clamp(10px, 1.2vw, 12px);
}

.text-ss {
    font-size: clamp(12px, 1.5vw, 14px);
}

.text-s {
    font-size: clamp(14px, 1.8vw, 16px);
}

.text-base {
    font-size: clamp(16px, 2vw, 18px);
}

.text-md {
    font-size: clamp(18px, 2.5vw, 20px);
}

.text-m {
    font-size: clamp(20px, 3vw, 24px);
}

.text-l {
    font-size: clamp(28px, 4vw, 36px);
}

.text-xl {
    font-size: clamp(36px, 5vw, 50px);
}

.text-2xl {
    font-size: clamp(40px, 6vw, 60px);
}

/* フォントウェイト */
.font-normal {
    font-weight: normal;
}

.font-bold {
    font-weight: bold;
}

/* レターレスパシング */
.tracking-wide {
    letter-spacing: 0.1em;
}

.tracking-wider {
    letter-spacing: 0.2em;
}

.tracking-widest {
    letter-spacing: 0.3em;
}
