/*
    utils.css
    説明:汎用的に何回も使いそうなスタイルをまとめておく場所
        そのためidは存在しない。classだけ
*/

.section-frame{
    width:100vw;
    height:100lvh;
}
.flex-all-center{
    display:flex;
    justify-content:center;
    align-items:center;
}

.absolute-position-center{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}


.page-frame{
    position:absolute;
    top:0;
    left:50%;
    transform:translate(-50%,0);
    width:85%;
    height:100%;
    z-index:3;
}
    .page-frame > * + *{
        margin-top:10px;
    }

    .w-full {
        width: 100%;
    }
.page-label-margin {
    margin-top: 18vh;
}

.bg-blur {
    background: #00000022;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
.bg-img{
    position:fixed;
    z-index:1;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:0.8;
}