@inherits LayoutComponentBase
@inject NavigationManager Nav

<aside class="side-viewer  @(isOpenSideMenu?"open":"")">
    <img @onclick="OpenDialog" class="open-button" src="images/elements/menu.svg" />
    <div class="sideline" />
    @if (isOpenSideMenu)
    {
        <div class=" font-Montserrat opend-menu @(isOpenSideMenu ? "show" : "")">
            <button @onclick='() => NavFunction("/app/individual")'>Individual</button>
            <button @onclick='() => NavFunction("/app/magicroutine")'>MagicRoutine</button>
            <button @onclick='() => NavFunction("/app/device")'>Device</button>
            <button @onclick='() => NavFunction("/app/test")'>Test</button>
        </div>
    }
</aside>
<p class="app-logo string-l">Rumos</p>
<div class="section-frame flex-all-center main-viewer">
        @Body
</div>
@code {
    private bool isOpenSideMenu = false;
    private  Task OpenDialog()
    {
        isOpenSideMenu = !isOpenSideMenu;
        return Task.CompletedTask;
    }

    private Task NavFunction(String path)
    {
        isOpenSideMenu = false;
        Nav.NavigateTo(path);
        return Task.CompletedTask;
    }
}
