.side-viewer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100vh;
    width: 120px;
    display: flex;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    justify-content: start;
    align-items: center;
    transition: all 0.5s ease-in-out;

}
.side-viewer.open {
    width:700px;
}

.open-button{
    width:50px;
    height:50px;
    padding:0 30px;
}
.sideline {
    width:1px;
    height:80%;
    background:white;
}
.app-logo {
    position: fixed;
    letter-spacing: 20px;
    top: 0.5%;
    left: 1%;
    z-index: 6;
}

.main-viewer{
    position:relative;
}

.opend-menu {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    opacity: 0;
    transition: all 0.5s ease-in-out 0.5s;

}
.opend-menu > * + *{
    margin-top:50px;
}
.opend-menu.show{
    opacity:1;
}
.opend-menu > button{
    font-size:20px;
}