---
import "../assets/styles/index.scss";
import {Header,Footer} from"./index";
const {title = "rumos"} = Astro.props;
---
<html lang= "ja">
    <head>
        <meta charset = "utf-8"/>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <Header />
        <main>
            <slot/>
        </main>
        <Footer/>
        <script>
        import Lenis from 'lenis';

        const lenis = new Lenis({
            duration: 1.5, // スクロールの速度（秒）
            easing: (t:any) => Math.min(1, 1.001 - Math.pow(2, -10 * t)), // イージング関数
            smoothWheel: true, // マウスホイールのスムーズ化
            smoothTouch: false, // タッチデバイスでのスムーズ化
            wheelMultiplier: 1, // ホイールの感度
            touchMultiplier: 2, // タッチの感度
        } as any);

        function raf(time: number) {
            lenis.raf(time);
            requestAnimationFrame(raf);
        }

        requestAnimationFrame(raf);
        </script>

    </body>
</html>
