.device-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: clamp(250px,30vw,400px);
    border: white solid 1px;
    background: transparent;
}

.device-card-container > img{
    width:60px;
    height:60px;
    border:white solid 1px;
    border-radius:10px;
}
.device-card-container > p{
    font-size:clamp(15px,3em,25px);
}