.tracked-element,
.tracked-element2,
.tracked-element3 {
  transition: all 2s ease-out;
  will-change: transform;
}

/*initScrollFade*/
.lamplight {
  opacity: 0;
  filter: blur(30px) brightness(3);
  transition: all 1.2s ease-in-out;
}
.lamplight.show {
  opacity: 1;
  filter: blur(0) brightness(1);
}
