html,
body {
  padding: 0;
  margin: 0;
  font-family: "NotoSerifJP";
  font-weight: normal;
  background: black;
  color: white;

  font-size: 16px;
}
img {
  object-fit: cover;
}
ul,
li {
  margin: 0; /* デフォルトの余白を削除 */
  padding: 0; /* デフォルトのインデントを削除 */
  list-style: none; /* デフォルトのマーカー（・や数字）を削除 */
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}
