@inject NavigationManager NavManager

<button id="return-container"> 
    <p>＜</p><p @onclick='ReturnTo'>@PageTitle</p>
</button>

@code {
    [Parameter] public string PageTitle { get; set; } = "";

    private void ReturnTo()
    {
        NavManager.NavigateTo("/functionlist");
    }
}
