#return-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: transparent;
    color: white;
    font: "Cormorant" sans-serif;
}

#return-container > p{
    font-size:50px;
}