@page "/functionlist"

@inject IJSRuntime JS
@inject NavigationManager NavManager


<div class="root-grid">
    <img class="background-image" alt="background" />

    <div class="menu">
        <p data-index="0" class="active" @onclick='() => NavigateTo("/icontrol")'>・I Control</p>
        <p data-index="1">・Magic Routine</p>
        <p data-index="2">・Device</p>
        <p data-index="3">・Environment</p>
        <p data-index="4">・Setting</p>
    </div>

    <div id="scroller" class="scroller">
        <section class="panel"><p @onclick='()=>NavigateTo("/icontrol")'>I Control</p></section>
        <section class="panel"><p>Magic Routine</p></section>
        <section class="panel"><p>Device</p></section>
        <section class="panel"><p>Environment</p></section>
        <section class="panel"><p>Setting</p></section>
    </div>
</div>


@code {
    private IJSObjectReference? module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //JSモジュールインポート
            module = await JS.InvokeAsync<IJSObjectReference>(
                "import","./js/index.js"
            );
            await module.InvokeVoidAsync("selectionImageChanging");
        }
    }

    private void NavigateTo(string target)
    {
        NavManager.NavigateTo(target);
    }


}
