.root-grid {
    position: relative;
    width: 100%;
    height: 100%;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: opacity 0.4s ease-in-out;
    z-index: 0;
}

.menu {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    z-index: 2;
}

    .menu p {
        margin: 0.6rem 0;
        font-size: 1.3rem;
        transition: color 0.3s ease;

        
    }

        .menu p.active {
            color: #9B77FF;
        }

.scroller {
    position: relative;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    z-index: 1;
}

.panel {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: clamp(4em,5vw,8rem);
    scroll-snap-align: start;
    user-select: none;
    font-family: 'Cormorant', sans-serif;
}
