@page "/"

@inject IJSRuntime JS
@inject NavigationManager NavManager


<section class="section-frame flex-all-center">
    <img class="loaded_fadein" src="images/icons/rumos_icon.png" id="title-logo" />
</section>

@code {
    private IJSObjectReference? module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/index.js");
            bool completed = await module.InvokeAsync<bool>("loaded_FadeIn");

            //3000秒待ってページ遷移
            NavManager.NavigateTo("/functionlist");
        }
    }
}