@page "/icontrol"

<section class="section-frame flex-all-center">
    <ReturnButton PageTitle="IControl"/>
    <div id="devices-container">
       <div id="device-list">
            <DeviceCard DeviceIcon="images/icons/Device_icon.png" DeviceName="ESP32" />
       </div>
       <div id="device-detail"></div>
    </div>
</section>

@code {

}
